{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tarefa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarefa.id }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ tarefa.descricao }}</td>
            </tr>
            <tr>
                <th>Datafim</th>
                <td>{% if tarefa.dataFim %}{{ tarefa.dataFim|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datacadastro</th>
                <td>{% if tarefa.dataCadastro %}{{ tarefa.dataCadastro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarefa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tarefa_edit', { 'id': tarefa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
