{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tarefa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarefa.id }}</td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ tarefa.descricao }}</td>
            </tr>
            <tr>
                <th>Data de Conclusão</th>
                <td>{% if tarefa.dataFim %}{{ tarefa.dataFim|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tarefa Cadastrada em:</th>
                <td>{% if tarefa.dataCadastro %}{{ tarefa.dataCadastro|date('d/m/Y') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarefa_index') }}">Voltar para a Listagem</a>
        </li>
        <li>
            <a href="{{ path('tarefa_edit', { 'id': tarefa.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
