{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dados do Usuário</h1>

    <table>
        <tbody>
            <tr>
                <th>Matrícula</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ usuario.nome }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Cadastrado em:</th>
                <td>{% if usuario.criacao %}{{ usuario.criacao|date('d/m/Y à\\s H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Voltar a lista de usuários</a>
        </li>
        <li>
            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Apagar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
